@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.placeholder-white-space::placeholder{
  white-space: pre-wrap;
}

/* dahboard post ads 3rd tab code */
.custom-phone-input input {
 
  outline: none;
}

.custom-phone-input input:focus {
  
  border-color: #068179; /* Primary color on focus */
  box-shadow: 0 0 0 0px #068179; /* Primary outline */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
